.mre-damage-card .dice-total::after {
    content: attr(data-damage-type);
    display: block;
    margin-bottom: .25rem;
    font-size: .8rem;
    line-height: .8rem;
    font-weight: normal;
    color: #333333;
}

.mre-damage-card .card-total.dice-total {
    flex: 0;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    word-break: break-all;
    font-size: 20px;
    font-weight: bold;
}

.mre-damage-card .formula-group > *:not(:last-child) {
    margin-bottom: .4rem;
}

.mre-damage-card hr {
    margin: 0;
}

.dice-roll .dice-formula {
    background: rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.dnd5e.chat-card .dice-roll,
.sw5e.chat-card .dice-roll {
    font-size: 14px;
}

.dnd5e.chat-card.mre-item-card .card-roll,
.sw5e.chat-card.mre-item-card .card-roll {
    margin-top: .5rem;
}

.mre-item-card .card-roll .flavor-text {
    line-height: 20px;
}

.mre-formula-group-config input[type=text],
.mre-formula-group-config input[type=number] {
    border: 1px solid #7a7971;
}

.mre-formula-group-config a.disabled {
    cursor: not-allowed;
    opacity: 50%;
}

.mre-formula-group-config a.disabled:hover {
    text-shadow: unset;
}

.mre-formula-group-config table {
    border: 0;
    width: auto;
}

.mre-formula-group-config table td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mre-formula-group-config table td {
    width: 100px;
}

.mre-formula-group-config table td:first-child {
    min-width: 125px;
    width: unset;
    text-align: right;
    padding-right: 0.25rem;
}

.mre-formula-group-config table td:nth-child(2) {
    width: auto;
    padding-left: 0.25rem;
}


.mre-formula-group-config table td:not(:first-child):not(:last-child) {
    border-right: 1px solid rgba(0,0,0,.1);
}


.mre-formula-group-config table td:last-child {
    width: auto;
}

.mre-formula-group-config table td:not(:nth-child(1)):not(:nth-child(2)) {
    text-align: center;
}

.mre-formula-group-config .formula-label {
    font-weight: bold;
}

.mre-formula-group-config .formula-type-label {
    font-size: 12px;
}

.mre-formula-group-config input[type=checkbox] {
    width: 16px;
    height: 16px;
}

.dnd5e.sheet.item .mre-damage-header-container,
.sw5e.sheet.item .mre-damage-header-container,
.tidy5e.sheet.item .mre-damage-header-container {
    display: flex;
    gap: 6px;
    align-items: center;
}

.dnd5e.sheet.item .mre-damage-header-container .damage-header,
.sw5e.sheet.item .mre-damage-header-container .damage-header,
.tidy5e.sheet.item .mre-damage-header-container .damage-header {
    flex: 1;
}

.dnd5e.sheet.item label.mre-auto-roll,
.sw5e.sheet.item label.mre-auto-roll,
.tidy5e.sheet.item label.mre-auto-roll {
    display: flex;
    flex: 0 0 60px;
    max-height: 24px;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.dnd5e.sheet.item .mre-auto-roll input[type=checkbox],
.sw5e.sheet.item .mre-auto-roll input[type=checkbox],
.tidy5e.sheet.item .mre-auto-roll input[type=checkbox] {
    margin: 0 2px;
    cursor: pointer;
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
}

.sheet.item .locked label.mre-auto-roll {
    cursor: default;
}
.sheet.item .locked label.mre-auto-roll input[type=checkbox] {
    cursor: default;
}

.dnd5e.sheet.item .mre-auto-roll span.label,
.sw5e.sheet.item .mre-auto-roll span.label,
.tidy5e.sheet.item .mre-auto-roll span.label {
    display: inline-block;
    margin: 2px;
    line-height: .9;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .05rem;
    color: #7a7971;
    white-space: normal;
    text-align: start;
}

.tidy5e.sheet.item .config-formula-groups {
    color: #7a7971;
    font-size: 16px;
}


/* Tidy5e Sheet Compatibility */
.tidy5e.sheet.item .mre-damage-header-container .damage-header {
    margin: 0;
}

.tidy5e.sheet.item .mre-damage-header-container .damage-header a.add-damage {
    margin: 0;
}

.tidy5e.sheet.item .sheet-body label.mre-auto-roll input[type=checkbox] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: auto;
}

/* --primary-accent is defined by tidy5e. it will exist if we get into this block */
/*noinspection CssUnresolvedCustomProperty*/
.tidy5e.sheet.item .sheet-body label.mre-auto-roll input[type=checkbox]:hover {
    -webkit-box-shadow: 0 0 0 1px var(--primary-accent) inset;
    box-shadow: 0 0 0 1px var(--primary-accent) inset;
}

