

.mre-damage-card .dice-total::after {
    content: attr(data-damage-type);
    display: block;
    margin-bottom: .25rem;
    font-size: .8rem;
    line-height: .8rem;
    font-weight: normal;
    color: #333333;
}

.mre-damage-card .damage-group > *:not(:last-child) {
    margin-bottom: .4rem;
}

.mre-damage-card hr {
    margin: 0;
}

.dice-roll .dice-formula {
    background: rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.dnd5e.chat-card .dice-roll {
    font-size: 14px;
}

.dnd5e.chat-card.mre-item-card .card-roll {
    margin-top: .5rem;
}

.mre-item-card .card-roll .flavor-text {
    line-height: 20px;
}

.mre-damage-group-config input[type=text],
.mre-damage-group-config input[type=number] {
    border: 1px solid #7a7971;
}

.mre-damage-group-config a.disabled {
    cursor: not-allowed;
    opacity: 50%;
}

.mre-damage-group-config a.disabled:hover {
    text-shadow: unset;
}

.mre-damage-group-config table {
    border: 0;
    width: auto;
}

.mre-damage-group-config table td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mre-damage-group-config table td {
    width: 100px;
}

.mre-damage-group-config table td:first-child {
    min-width: 125px;
    width: unset;
    text-align: right;
    padding-right: 0.25rem;
}

.mre-damage-group-config table td:nth-child(2) {
    width: auto;
    padding-left: 0.25rem;
}


.mre-damage-group-config table td:not(:first-child):not(:last-child) {
    border-right: 1px solid rgba(0,0,0,.1);
}


.mre-damage-group-config table td:last-child {
    width: auto;
}

.mre-damage-group-config table td:not(:nth-child(1)):not(:nth-child(2)) {
    text-align: center;
}

.mre-damage-group-config .formula-label {
    font-weight: bold;
}

.mre-damage-group-config .formula-type-label {
    font-size: 12px;
}

.mre-damage-group-config input[type=checkbox] {
    width: 16px;
    height: 16px;
}
